<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="filterPipeline" type="GPPipeline.PipelineConfigurationSection, GPPipeline"/>
  </configSections>
  <filterPipeline>
    <filters>
      <add type="PipelineTest.Filters.StringFilter, PipelineTest"/>
      <add type="PipelineTest.Filters.StripFTXdot, PipelineTest"/>
    </filters>
  </filterPipeline>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
